html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-x: hidden;
  background-color: rgb(248, 248, 248);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
